{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md">
        <img src="{% static 'images/dancers.png' %}" alt="" class="dancers">
      </div>
      <div class="col-md login-form">
        <h3>User Log In Form</h3>
        <form class="" action="#" method="post">
          {% csrf_token %}
          {{loginform.username|as_crispy_field}}
          {{loginform.password|as_crispy_field}}
          <input type="submit" name="" value="Log In" class="btn btn-success">
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
